<!DOCTYPE html>
<html lang="de"></html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <!--Unsichtbare Teil, Grundlegende Einstelllungen-->
        <title>N27</title>
        <!--Titel der Seite im Browser-Tab-->
    </head>
    <body>
        <h1>Bitte anmelden!</h1>
        <form>
            <!--alles, was auf der  Seite im Browserfenster angezeigt werden soll muss ihm Body stehen-->
            <label>Benutzer-ID:</label>
            <!--Element, das etwas anzeigt-->
            <input type="text" name="idKunde">
            <!--Element vom Typ Text in das getippt werden kann-->
            <label>Kennwort:</label>
            </p>
            <input type="password" name="kennwort">
            <!--Element vom Typ Passwort, das Eingaben maskiert-->
            <input type= "button" name="Anmelden" value= "Anmelden">
            <!--Element vom Typ Button, das eine Schaltfläche anzeigt-->
        </form>
    </body>
</html>
      
      
