<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h2>Macbook</h2>
    <p>Prozessor Macbook:  <%= macbook.prozessor%></p>
    <p>Betriebssystem Macbook :  <%= macbook.betriebssystem%></p>
    <p>Display Macbook : <%= display%></p>
    <p>Grafik : <%= grafik%></p>
</body>
</html>